.rodape {
    display: flex;
    justify-content: center;
    background-color: var(--preto);
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
}

.rodape h2 {
    font-weight: 400;
    font-size: 18px;
    color: var(--branco);
}